
.change-password-modal-title {
    font-size: 21px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 11px;
    color: #5e7158;
}

.change-password-modal-desc {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
    color: #45515c;
    line-height: 1.44;
}

.change-password-input {
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border-radius: 11px;
    padding: 0 13px;
    border: 1.2px solid #ccd5db;
    height: 41px;
    background: #fff;
    box-sizing: border-box;
}

.change-password-modal-error {
    color: #c83239;
    text-align: center;
    margin-bottom: 11px;
    font-size: 15px;
    font-weight: 500;
}

.change-password-modal-actions {
    text-align: center;
}

.change-password-save-btn {
    width: 50%;
}

.change-password-save-btn {
    margin-left: 2px;
}
